<form class="post-form card" data-postid="{{post.id}}">
  <header>Title</header>
  <input class="form-input title" value="{{post.title}}" />
  <header>Content</header>
  <input class="form-input content" value="{{post.content}}" />

  <button class="btn btn-primary update-post">Update Post</button>
  <button class="btn btn-primary delete-post">Delete Post</button>
</form>

<script src="/js/postedit.js"></script>